<footer class="footer-container">
    <div class="footer-links-section">
        <div class="footer-column">
            <h4>Support</h4>
            <a href="#">Help Centre</a>
            <a href="#">AirCover</a>
            <a href="#">Anti-discrimination</a>
            <a href="#">Disability support</a>
            <a href="#">Cancellation options</a>
            <a href="#">Report neighbourhood concern</a>
        </div>
        <div class="footer-column">
            <h4>Hosting</h4>
            <a href="#">Wanderlust your home</a>
            <a href="#">AirCover for Hosts</a>
            <a href="#">Hosting resources</a>
            <a href="#">Community forum</a>
            <a href="#">Hosting responsibly</a>
            <a href="#">Join a free Hosting class</a>
            <a href="#">Find a co-host</a>
        </div>
        <div class="footer-column">
            <h4>Wanderlust</h4>
            <a href="#">Newsroom</a>
            <a href="#">New features</a>
            <a href="#">Careers</a>
            <a href="#">Investors</a>
            <a href="#">Wanderlust.org emergency stays</a>
        </div>
    </div>

    <hr class="footer-divider">

    <div class="footer-bottom">
        <div class="footer-copyright">
            &copy; 2024 Wanderlust Private Limited
        </div>
        <div class="footer-legal">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Sitemap</a>
            <a href="#">Company details</a>
        </div>
        <!-- <div class="footer-socials">
            <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
            <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div> -->
    </div>








    <div class="footer-container">
        <div class="footer-socials">
            <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>

        <div class="footer-brand">
            &copy; Wanderlust Private Limited <br>
            Created by: Harshita Khandoli <br>
            harshitakhandoli@gmail.com
        </div>

        <div class="footer-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>